.navbar {
    margin-bottom: 16px;
}

.fill-space {
  flex: 1 1 auto;
}

md-select .md-select-placeholder,
md-select .md-select-value,
md-select .md-select-arrow {
    color: lightgray !important;
}
