<md-toolbar class="navbar md-elevation-z6" color="primary">
  <span>Internet Meme Catalog</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>

  <md-select placeholder="Filter by genre">
      <md-option value="" (onSelect)="showAll()">Show All</md-option>
      <md-option *ngFor="let genre of genres" [value]="genre.id" (onSelect)="showForGenre(genre.id)">
          {{genre.name}}
      </md-option>
  </md-select>

  &nbsp;

  <button md-button (click)="openAddDialog()">Add Meme</button>
</md-toolbar>

<md-grid-list cols="5" rowHeight="3:5">
  <md-grid-tile *ngFor="let meme of memes">
    <meme-card 
      [meme]="meme"
      [genreName]="getGenreName(meme)"
      (remove)="openRemoveDialog($event)"
      (share)="onShareMeme($event)"
    ></meme-card>
  </md-grid-tile>
</md-grid-list>
