<form (ngSubmit)="onSubmit()" #memeForm="ngForm" class="example-form">
    <h1 md-dialog-title>Dialog</h1>
    
    <div md-dialog-content>
        <md-input-container class="example-full-width">
            <input md-input id="name" name="name" [(ngModel)]="meme.name" placeholder="Name" required>
        </md-input-container>

        <md-input-container class="example-full-width">
            <input md-input id="url" name="url" [(ngModel)]="meme.url" placeholder="URL" required>
        </md-input-container>
    
        <md-input-container class="example-full-width">
            <textarea md-input id="description" name="description" [(ngModel)]="meme.description" placeholder="Description"></textarea>
        </md-input-container>

        <div style="margin-top: 16px;">
            <md-select id="genre" name="genre" [(ngModel)]="meme.genreId" placeholder="Genre" required>
                <md-option *ngFor="let genre of genres" [value]="genre.id">
                    {{genre.name}}
                </md-option>
            </md-select>
        </div>
    </div>

    <div md-dialog-actions>
        <button type="button" md-button md-dialog-close>Cancel</button>
        <button type="submit" md-button [disabled]="!memeForm.form.valid">Save</button>
    </div>
</form>

