<h1 md-dialog-title>Remove Meme</h1>

<div md-dialog-content>
    <p>Really delete this meme?</p>
    <img src="{{meme.url}}">
</div>

<div md-dialog-actions>
    <button type="button" md-button (click)="cancel()">No</button>
    <button type="submit" md-button (click)="confirm()">Yes</button>
</div>
