<md-card class="meme-card">
  <md-card-header>
    <md-card-title>{{meme.name}}</md-card-title>
    <md-card-subtitle>{{genreName}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{meme.url}}">
  <md-card-content>
    <p>{{meme.description}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="onShare()">SHARE</button>
    <button md-button (click)="onRemove()">REMOVE</button>
  </md-card-actions>
</md-card>
